aioquic==1.0.0
asgiref==3.8.1
attrs==23.2.0
bandit==1.7.8
beautifulsoup4==4.12.3
bitarray==2.9.2
bitstring==4.2.2
blinker==1.8.2
Brotli==1.1.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==42.0.7
flake8==7.0.0
Flask==3.0.3
flatten-json==0.1.14
h11==0.14.0
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
kaitaistruct==0.10
ldap3==2.9.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mccabe==0.7.0
mdurl==0.1.2
mitmproxy==10.3.0
mitmproxy_rs==0.5.2
msgpack==1.0.8
passlib==1.7.4
pbr==6.0.0
protobuf==5.26.1
protobuf-decoder==0.4.0
publicsuffix2==2.20191221
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycodestyle==2.11.1
pycparser==2.22
pyflakes==3.2.0
Pygments==2.18.0
pylsqpack==0.3.18
pyOpenSSL==24.1.0
pyparsing==3.1.2
pyperclip==1.8.2
PyYAML==6.0.1
requests==2.31.0
rich==13.7.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
service-identity==24.1.0
six==1.16.0
sortedcontainers==2.4.0
soupsieve==2.5
stevedore==5.2.0
tinycss==0.4
tornado==6.4
urllib3==2.2.1
urwid-mitmproxy==2.1.2.1
Werkzeug==3.0.3
wsproto==1.2.0
Yapsy==1.12.2
yara-python==4.5.0
zstandard==0.22.0
